{% extends "ml_fraudulent_app/admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}


{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'ml_fraudulent_app/admin/css/custom.css' %}" /> -->

<style>
  hr.new5 {
    border: 4px solid #ffffff;
    margin: 0px;
    padding: 0px;
    size: 5% ;
    width: 100%;
  }
  .card {
    margin-top: 0rem!important;
  }
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="row mb-2">
    <div class="col-sm-4">
        <h2>{{title}}</h2>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#"><i class="fas fa-tachometer-alt"></i> {% trans 'Home' %}/Dashboards</a></li>
            {% for app in app_list %}
            <li class="breadcrumb-item active">{{ app.name }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
{% endif %}

<!-- main Code start Here -->
{% block content %}
{% for res in finalset %}
            {{ res.}}
   {% endfor %}
           
                <section class="content">
                    <div class="container-fluid">
                      <!-- Small boxes (Stat box) -->
                      <div class="col-lg-12">
                        <div class="card" style="margin-right: -8.5px; margin-left: -8.5px;" >
                          <div class="card-header border-0">
                            <h3 class="card-title">Counts of determined application statuses all-time</h3>
                          </div>
                          <div class="card-body table-responsive p-0">  
                            <div class="row" style="margin-right: 0.5px; margin-left: 0.5px;"> 
                       
                              <!-- ./col -->
                              <div class="col-lg-3 col-2">
                                  <!-- small box -->
                                  <div class="small-box bg-dark">
                                    <div class="inner">
                                      <h3>{{ total_query_set }}<sup style="font-size: 20px"></sup></h3>
                                     <div>
                                        <progress min="0" max="100" value="100">
                                      </div> 
                                       <!-- <hr class="new5"> </hr> -->
                                      
                                      <span><b>Total</b></span>
                                     
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-2">
                                    <!-- small box -->
                                    <div class="small-box bg-secondary">
                                      <div class="inner">
                                        <h3 style="color:#ffffff;">{{ pending_query_set }}</h3>
                                        <div>
                                          <progress value="{{ pending_query_set }}" max="{{ total_query_set }}" >
                                        </div>
                                        <span style="color:#ffffff;"><b>Pending</b></span>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-2">
                                    <!-- small box -->
                                    <div class="small-box bg-danger">
                                      <div class="inner">
                                        <h3>{{ fraud_query_set }}</h3>
                                        <div>
                                          <progress min="0" max="{{ total_query_set }}" value="{{ fraud_query_set }}">
                                        </div>
                                        <span> <b>Determined Fraudulent</b></span>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-2">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                      <div class="inner">
                                        <h3>{{ nonFraud_query_set }}</h3>
                                        <div>
                                          <progress min="0" max="{{ total_query_set }}" value="{{ nonFraud_query_set }}">
                                        </div>
                                        <span><b>Determined Legitimate</b></span>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- ./col -->
                                </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    </section>

                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header border-0">
                          <h3 class="card-title">Geo-tagging Origin IP's</h3>
                        </div>
                        <div class="card-body table-responsive p-0">  
                        <div id="map1"></div>
                      </div>
                      </div>
                    </div>

                    <div class="content">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="card">
                              <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                  <h3 class="card-title">Statistics </h3>
                                </div>
                              </div>
                              <div class="card-body">
                        <div> 
                          <canvas id="lineDashboard" width="450px" height="200px" 
                          aria-label="chart" role="img"></canvas>
                        </div>

                        <div>
                        <canvas id="riskDashboard" width="450px" height="218px" 
                        aria-label="chart" role="img"></canvas>
                        </div>
                        <div>
                          <canvas id="countDashboard" width="450px" height="218px" 
                          aria-label="chart" role="img"></canvas> 
                        </div>
                      </div>
                    </div>    
                  </div>
                          <div class="col-lg-6">
                            <font size="3">
                            <div class="card">
                              <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                  <h3 class="card-title">ML Attributes</h3>
                                </div>
                              </div> 
                              <div class="card-body">
                                <div> 
                                  <canvas id="riskAccuracy" width="450px" height="300px" 
                                  aria-label="chart" role="img"></canvas>
                                </div>
                              </div>  

                              <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                  <h3 class="card-title">Risk Indicators</h3>
                                </div>
                              </div>
                              <div class="card-body">
                              <table id="maintable" class="table table-striped table-bordered table-lg" style="width:100%">
                               <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Indicator</th>
                                 <th>App Count</th>
                                <th>%</th>
                              </tr>
                           </thead>
                           <tbody>
                            {% if importance_rank %}  
                            {% for importance_val in importance_rank %}
                            <tr>
                              <td>{{importance_val.ImportanceID}}</td>
                              
                              <td>{{importance_val.Decision_Criteria}} </td>
                              <td> {{importance_val.Count}} 
                              <!-- Progress Bar Code  -->
      {% if importance_rank %} 
       {% if importance_val.Importance >= 90  %}
       <div class="progress progress-xs progress-striped active">
        <div class="progress-bar bg-success" style="width: {{importance_val.Importance}}%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif importance_val.Importance >= 70 %}
        <div class="progress progress-xs progress-striped active">
          <div class="progress-bar bg-warning" style="width: {{importance_val.Importance}}%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {% elif importance_val.Importance <= 69 %}
          <div class="progress progress-xs progress-striped active">
            <div class="progress-bar bg-danger" style="width: {{importance_val.Importance}}%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% else %}
            <div class="progress progress-xs progress-striped active">
              <div class="progress-bar bg-danger" style="width: {{importance_val.Importance}}%" aria-valuemin="0" aria-valuemax="100"></div>
        {% endif %}
        {% endif %}
      </td>
                              
                              <td>
                                {% if importance_rank %} 
                                   {% if importance_val.Importance >= 90  %}
                                   <h5><span class="badge bg-success">{{importance_val.Importance}}</span></h5>
                                   {% elif importance_val.Importance >= 70 %}
                                   <h5><span class="badge bg-warning">{{importance_val.Importance}}</span></h5>
                                   {% elif importance_val.Importance <= 69 %}
                                   <h5><span class="badge bg-danger">{{importance_val.Importance}}</span></h5>
                                   {% endif %}
                                   {% endif %}
                              </td> 
                            </tr>
                            {% empty %}
                            <tr><td colspan="5">Currently no Data Available</td></tr>    
                            {% endfor %}
                            {% endif %}
                            </tbody>
                            </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </font>
                      </div>
                      
                    </div>
                    
                    
{% endblock %}

{% block javascript %}
{% include 'ml_fraudulent_app/adminlte/lib/_scripts.html' %}
<!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<script>
    $(document).ready( function () {
      $('#enhanceData').DataTable();
  } );

  var ctx = document.getElementById("riskDashboard").getContext("2d")
  var riskDashboardx = new Chart(ctx,{
      type:"bar",
      data:{
         
          labels: ["Critical", "High", "Medium", "Low"],
          datasets: [
          {
              data: [{{ critical_queryset }}, {{ high_queryset }}, {{ medium_queryset }}, {{ low_queryset }}],
              label: "Risk Score",
              backgroundColor: [
                '#dc3545', // for critical red 
                '#FFA500', // for high orange 
                '#FDDA0D', // for medium yellow
                '#28a745', // for low green
              ], 
          },
          ],
      },
      options:{
          responsive:false,
          layout:{
            padding:{
                left: 0,
                right: 15,
                top: 0,
                bottom: 0,
            },
        },
          tooltips: {
              enabled: true,
          },
          plugins: {
            title: {
                display: true,
                text: 'Risk Stats',
                position: 'bottom',
                fontSize:25,
            },
            subtitle: {
              display: true,
             
          },
        },
      },
  });
/* Dashboard 2 */
var ctx = document.getElementById("countDashboard").getContext("2d")
var countDashboard = new Chart(ctx,{
    type:"pie",
    data:{
        labels: ["Predicted Fraud", "Predicted Legitimate"],
        datasets: [
        {
            data: [{{ pending_pre_fraud }}, {{ Pending_Pre_Not_Fraud }}],
            label: "Count",
            backgroundColor: [
              '#dc3545',
              '#28a745',
            ], 
        },
        ],
    },
    options:{
      responsive:false,
      layout:{
        padding:{
            left: 0,
            right: 0,
            top: 0,
            bottom: 0,
        },
    },
      tooltips: {
          enabled: true,
      },
      plugins: {
        title: {
            display: true,
            text: 'Pending Applications Predicted Disposition',
            position: 'bottom',
            fontSize:25,

        },
        subtitle: {
          display: true,
         
      },
    },
  },
});


/* Dashboard 3  */
var ctx = document.getElementById("lineDashboard").getContext("2d")
var lineDashboard = new Chart(ctx,{
    type:"line",
    data:{
        labels: [{% for mYear in yearlyapp %}{% for mApp in monthlyapp %} "{{ mApp.month|month_name }}'{{ mYear.year|yearintwo }}", {% endfor %} {% endfor %}],
        datasets: [
        {
            data: [{% for mApp in monthlyapp %} '{{ mApp.c }}', {% endfor %}],
            pointRadius: 5,
            pointHoverRadius: 15,
            label: "Count",
            backgroundColor: [
              '#6c757d', // for  gray 
            ], 
        },
        ],
    },
    options:{
      responsive:false,
      scales: {
        y: {
            beginAtZero: true
        },
    },
      layout:{
        padding:{
            left: 0,
            right: 0,
            top: 0,
            bottom: 0,
        },
    },
      tooltips: {
          enabled: true,
      },
      plugins: {
        title: {
            display: true,
            text: 'Monthly Applicant Submission Count',
            position: 'bottom',
            fontSize:25,
        },
        subtitle: {
          display: true,
         
      },
    },
  },
});

var graph = {{ jsondata| safe }}
Plotly.plot("map1",graph, {})

/* Risk Accuracy Map */

var ctx = document.getElementById("riskAccuracy").getContext("2d")
  var riskAccuracy = new Chart(ctx,{
    
      type:"scatter",
      data:{ 
          labels: [{{ pending_query_set }}], // x- axis 
          datasets: [
          {
              data: [{{ permatchcount }}],   // Y - axis
              pointRadius: 7,
              pointHoverRadius: 15,
              label: "Count",
              backgroundColor: [
                '#000000', // for critical red
                '#000000', // for high orange
              ], 
          },
          ],
      },
     
      options:{
          responsive:false,
          layout:{
            padding:{
                left: 0,
                right: 15,
                top: 0,
                bottom: 0,
            },
        },
          tooltips: {
            enabled: true,
            callbacks: {
              label: (tooltipItem, data) => data.labels[1] + '%'
              } 
          },
          plugins: {
            title: {
                display: true,
                text: 'Model Performance',
                position: 'bottom',
                fontSize:25,

            },
            subtitle: {
              display: true,
             
          },
        },
        scales: {
          x: {
            type: 'linear',
            position: 'bottom',
            beginAtZero: true,
            max: 20000,
            title: {
              display: true,
              text: 'Total Pending Records'
            },
          },
          y: {
            ticks: {
              // Include a dollar sign in the ticks
              callback: function(value, index, ticks) {
                  return  value +'%';
              }
          },
            display: true,
            beginAtZero: true,
            max: 120,
            title: {
              display: true,
              text: 'Model Accuracy'
            },
          },
        },
      },
     
  });


  </script>
{% endblock %}
